:root {
  --main-color: #B3CC05;
  --main-color-hover: #a2b33a;
}

.contenedor{
  margin: 0px 10% 0px 10%;
}

.building-body{
  border: 1px solid black;
  border-radius: 10px;
}

.btn{
  background-color: #DADADA!important;
}

.btn-primary{
  color:black!important;
  background-color: var(--main-color)!important;
  border-color: var(--main-color)!important;
  transition: all 0.6s ease!important;
}
.btn-primary:hover{
  background-color: var(--main-color-hover)!important;
}
.row{
  margin:0!important;
}

/***** Building *******/
.building-position{
  border: 1px solid gainsboro;
  border-radius: 10px;
}

.building-cancel{
  color:gainsboro;
  border: 1px solid gainsboro;
  border-radius: 50%;
  cursor: pointer;
}